{% extends 'base.html.twig' %}

{% block container %}
    <center>
        <div class="container">
    <h1>Absence creation</h1>
<br>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-theme" type="submit" value="Create" />
    {{ form_end(form) }}
            <br>
            <br>

    </ul>
        </div> </center>
{% endblock %}
